.inputContainer {
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #171d1f;
  border-radius: 8px;
  transition: all ease 0.3s;
  margin-bottom: 24px;
  border: 2px solid transparent;
}

.active {
  border: 2px solid #81fe88;
}

.inputContainer input,
.inputContainerActive input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background: #171d1f;
  color: white;
}

.searchIcon {
  width: 24px;
  height: 24px;
}

.form {
  display: flex;
  flex-grow: 1;
}
